h1{

  text-align: margin-left;
  font-size:40px;
  color:#3A68E5;
  margin-left: 45px;
}

button{
    border-radius: 15px;
    background: #73AD21;
    width: 200px;
    height: 50px;
    font-weight: bold;
    font-size: 18px;
    margin-left: 60px;
}

img{
  border-radius: 15px;
  margin-left: 60px;
}
h1{

  text-align: margin-left;
  font-size:40px;
  color:#3A68E5;
  margin-left: 45px;
}

button{
    border-radius: 15px;
    background: #73AD21;
    width: 200px;
    height: 50px;
    font-weight: bold;
    font-size: 18px;
    margin-left: 60px;
}

img{
  border-radius: 15px;
  margin-left: 60px;
}
